
Dear <%= @owner.first_name %>:
 
Your Stash-n-Share.com <%= @listing_type %> has been accepted by 
<%= "#{@filler.first_name} #{@filler.last_name} (#{@filler.email} )" %>

Please log in to Stash-n-Share.com and go to Exchanges to complete the exchange.

Thanks,
Louise @ Stash-n-Share.com