<!--- _qt_view.rhtml - partial for viewing a quilttop -->

<fieldset>
    <legend>Quilt Top Details</legend>
    <p>
        <label class="desc" for="length">Length (inches): </label>
        <%= h  @listing.length %>
    </p>
    <p>
        <label class="desc" for="width">Width (inches): </label>
        <%= h @listing.width%>
    </p>
   
</fieldset>