<!---quilttop partial--->

<fieldset>
    <legend>Quilt Top Details</legend>
    <p>
        <label class="desc" for="length">Length (inches)</label>
        <%= form.text_field :length, :size=>15, :class=>'txt' %>
    </p>
    <p>
        <label class="desc" for="width">Width (inches)</label>
        <%= form.text_field :width, :size=>15, :class=>'txt' %>
    </p>
   
</fieldset>