<div id="welcome">
	<h1>Welcome to Stash-n-Share.com</h1>
	<p>You're one step away from accessing our site.</p>
	<p>An activation email has been sent to the email address you provided.</p>
	<p>Follow the instructions in it to activate your account.</p>
	<p>Thanks for joining and happy stash sharing!</p>
	<p>The Stash-n-Share Team</p>
</div>