<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Peter Anglea" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" type="text/css" href="styles.css" />
	<title>NetStyles1</title>
</head>
<body>

<div id="wrap">
	
<div id="header">

<h1>NetStyles1</h1>

<div id="menu">

	<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Products</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Contact</a></li>
	</ul>

	<form action="" method="post" id="searchbox">
		 <input type="text" name="query" value="Search" size="25" onclick="this.value=''" />
		 <input class="noshow" type="submit" value="Search" />
	</form>

</div>

</div>

<div id="main">

	<div id="submain">
	
		<div id="left">
		
			<h1>NetStyles1</h1>
			<p>This is NetStyles1, my first contribution to OSWD! Let me tell you a little bit about this template . . . and while I'm at it, I'll show off some list items.</p>
			<ul>
				<li>First off, this template validates as XHTML 1.0 Transitional.</li>
				<li>It is 800x600 compatible</li>
				<li>Compatible on Explorer and Gecko Engines</li>
				<li>Obviously utilizes CSS</li>
				<li>Default font is Lucida San Unicode</li>
			</ul>
			
			<p>Another cool thing about this template is that you can change the color scheme very, very easily. This template appears to have a green color scheme, but the only "green" element on the page is the header image. I have included three alternate header images in this template - red, blue, and brown - so you can select from 4 different color schemes. Refer to the documentation in the CSS file. Cool, huh? I think so.</p>
					
			<h3>Let's test some other elements</h3>
			<p>That was an h3, by the way, and this is a paragraph. But, you've already seen this in action. Let's try some other stuff.</p>
			<p><a href="#">How about</a> <a href="#">some links</a>?</p>
			
			<table>
				<tr>
					<th>This is a table</th>
					<th>With two columns</th>
				</tr>
				<tr>
					<td>Let's put some stuff</td>
					<td>Inside our table</td>
				</tr>
				<tr>
					<td>More for good measure</td>
					<td>More for good measure</td>
				</tr>
				<tr>
					<td>Lorem</td>
					<td>Ipsum</td>
				</tr>
			</table>
			
			<h3>Left, Right, and Center Image Classes</h3>
			<img src="picture.jpg" alt="Picture" class="imgleft" />
			<p>Gotta luv Lorem! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse vel elit. Aenean iaculis sollicitudin orci. Quisque fermentum mauris nec nunc. Integer lectus ipsum, nonummy a, condimentum nec, convallis eu, nulla. Sed felis sem, aliquam eu, dapibus sollicitudin, lobortis nec, magna. Praesent nonummy bibendum leo. Ut risus lectus, placerat a, posuere eget, eleifend porta, magna. Praesent tempus, felis non sagittis nonummy, felis neque tincidunt nibh, laoreet eleifend eros sapien sit amet velit. <a href="#">Cras erat risus</a>, ultricies eu, aliquam id, dapibus eu, orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
			<img src="picture.jpg" alt="Picture" class="imgright" />
			<p>Vestibulum pretium dui non nibh. Pellentesque tempus dui vel mauris. Cras ac purus. Nunc sit amet ante in ligula viverra molestie. Quisque tincidunt. Vivamus pellentesque venenatis orci. Donec et augue. Etiam nisl. Phasellus imperdiet velit vel mi. Curabitur magna. Vivamus ornare, <a href="#">leo ut</a> lacinia fringilla, libero nisi volutpat lacus, vitae porttitor massa est nec tortor. Donec ut nisi id sapien ullamcorper ullamcorper.</p>
			<img src="picture.jpg" alt="Picture" class="imgcenter" />
			
			<h3>Using this template</h3>
			
			<p>If you use this template, post a comment here with a URL, or leave a link in the Designologue. I would love to see how this template is being used (and everybody else would benefit, too). I would appreciate if you left the link to my design company, <a href="http://www.xhtmlpro.com">xHTMLpro</a>, in the footer, but I can't make you. Enjoy!</p>
						
		</div>

		<div id="right">
	
			<h2>Recent Photos</h2>
			<img src="picture.jpg" alt="Picture" class="imgcenter" />
			
			<h2>Other Info</h2>
			<p>Paragraph tags work well in the sidebar, too.</p>
	
		</div>
	
	</div>
	
</div>

<div id="footer">

	<div id="subfooter">
	
		<p>&copy; 2007 Your Company, All Rights Reserved | Design by <a href="http://www.xhtmlpro.com/">xHTMLpro.com</a></p>
		<p><a href="#">Lorem Ipsum</a> | <a href="#">Dolor Sit</a> | <a href="#">Amet Consectetuer</a> | <a href="#">Adipiscing Elit</a> | <a href="#">Whatever</a></p> 
	
	</div>

</div>

</div>

</body>
</html>

